{% block translatable_widget %}
    {% if form|length > 1 %}
        {% for field in form.vars.localeFields %}
            <div class="input-group mb-3 flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        {{ field.vars.label|upper }}
                    </span>
                </div>
                {{ form_widget(field) }}
            </div>
        {% endfor %}
        {{ form_widget(form._trans_id) }}
        {{ form_widget(form._default) }}
    {% else %}
        {{ form_widget(form|first) }}
    {% endif %}
{% endblock translatable_widget %}

{% block translation_widget %}
    {% if form|length > 1 %}
        {% for field in form.vars.localeFields %}
            <div class="input-group mb-3 flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        {{ field.vars.label|upper }}
                    </span>
                </div>
                {{ form_widget(field) }}
            </div>
        {% endfor %}
        {{ form_widget(form._trans_id) }}
        {{ form_widget(form._default) }}
    {% else %}
        {{ form_widget(form|first) }}
    {% endif %}
{% endblock translation_widget %}